@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: var(--font-nunito);
}
html,body {
  min-width: 1652px;
}

.__header__ {
  @apply bg-header_bg w-[inherit] fixed top-0 left-0 right-0 z-[9999]
}
.__columns__ {
  @apply w-[inherit] h-fit bg-transparent flex pt-[1.5rem] px-[32px] max-md:pt-[10rem] max-md:px-1 max-md:flex-col justify-center
}
.PROFILE_ERROR {
  @apply text-[12px] text-red-500
}
.PROFILE_ERROR_CONTENT {
  @apply text-inherit
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (width <= 780px) {
  html, body {
    min-width: 100%;
  }
}